<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/feed.css">
    <title>Document</title>
</head>

<body>
   


    <div class="container">




        <div class="box">
            <a href="https://images.unsplash.com/photo-1683009426952-13567b4fa28b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHw1MXx8fGVufDB8fHx8fA%3D%3D">
                <img src="https://images.unsplash.com/photo-1683009426952-13567b4fa28b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHw1MXx8fGVufDB8fHx8fA%3D%3D" alt="image"></a>
            <div class="caption">Lorem ipsum </div>
        </div>
        <div class="box">
            <a href="https://images.unsplash.com/photo-1700367056148-3e49cae7fc78?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1OXx8fGVufDB8fHx8fA%3D%3D">
                <img src="https://images.unsplash.com/photo-1700367056148-3e49cae7fc78?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1OXx8fGVufDB8fHx8fA%3D%3D" alt="image"></a>
            <div class="caption">Lorem ipsum </div>
        </div>
        <div class="box">
            <a href="https://images.unsplash.com/photo-1700346321469-e45b826b1083?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3NXx8fGVufDB8fHx8fA%3D%3D">
                <img src="https://images.unsplash.com/photo-1700346321469-e45b826b1083?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3NXx8fGVufDB8fHx8fA%3D%3D" alt="image"></a>
            <div class="caption">Lorem ipsum </div>
        </div>
        <div class="box">
            <a href="https://images.unsplash.com/photo-1699566382987-99a5ad8f0786?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyMDh8fHxlbnwwfHx8fHw%3D">
                <img src="https://images.unsplash.com/photo-1699566382987-99a5ad8f0786?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyMDh8fHxlbnwwfHx8fHw%3D" alt="image"></a>
            <div class="caption">Lorem ipsum </div>
        </div>


    </div>
</body>



</html>